Part 2/CS2K7/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	<xs:element name="author" type="xsd:string">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:whitespace value="collapse" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="title" type="xsd:string" />
	<xs:element name="booktitle" type="xsd:string"/>
	<xs:element name="journal"/>
	<xs:element name="year" type="xsd:integer" />
	<xs:element name="volume" type="xsd:integer" />
	<xs:element name="pages" />
	<xs:element name="owner" />
	<xs:element name="number" type="xsd:integer" />
	<xs:element name="month" />
	<xs:element name="doi">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9].[0-9].[a-zA-Z].[0-9].[0-9]"/>
				<!-- ##.####.ccc.####.####### -->
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="owner" type="xsd:string" />
	<xs:element name="timestamp" type="xsd:date" />
	<!-- Slide 23 L3-->
</xs:schema>
